# Configuración local del proyecto
APP_DB_FILENAME=gestor_activos.db

# Credenciales del administrador por defecto (se crea automáticamente en el build)
# APP_DEFAULT_ADMIN_USERNAME=
# APP_DEFAULT_ADMIN_PASSWORD=
