<div class="login-container">
    
  <button class="btn-back" (click)="goHome()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
      </svg>
      Volver
    </button>

  <div class="login-card">
    <div class="login-header">
      <h1>Gestor de Activos</h1>
    </div>



    <form (ngSubmit)="onLogin()" class="login-form">
      <div class="form-group">
        <label for="username">Usuario</label>
        <input
          type="text"
          id="username"
          [value]="username()"
          (input)="username.set($any($event.target).value)"
          [disabled]="isLoading()"
          placeholder="Ingrese su usuario"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          [value]="password()"
          (input)="password.set($any($event.target).value)"
          [disabled]="isLoading()"
          placeholder="Ingrese su contraseña"
          required
        />
      </div>

      @if (errorMessage()) {
        <div class="error-message">
          {{ errorMessage() }}
        </div>
      }

      <button
        type="submit"
        class="login-button"
        [disabled]="isLoading()"
      >
        @if (isLoading()) {
          <span>Iniciando sesión...</span>
        } @else {
          <span>Iniciar Sesión</span>
        }
      </button>

      <div class="register-link">
        <p>¿No tienes cuenta? <a (click)="goToRegister()">Registrarse</a></p>
      </div>
    </form>
  </div>
</div>
